
*, *::before, *::after {
  box-sizing: border-box;
}


:root {
/* CSS HEX #707070ff; */
--c1: #e6194B;
--c2: #4363d8;
--h: #f58231;
--vertical-space: 6px;
}

.main-container {
	width: 84%;
	margin: 0 auto;
	display: flex;
}

.main-panel {
	flex: 1;
	overflow: auto;
}

.instrument-panel {
	background-color: honeydew;
	width: 320px;
	min-width: 320px;
	flex: 0 0 320px;

	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}


/* vertical dimensions */
.main-input, .main-input-instruments{
	font-size: 60px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 1px solid transparent;
}
.main-input-instruments::after{
	content: "\00a0";
}

.main-input{
	font-size: 60px;
	direction: rtl;
	min-width: 100%;
	width: fit-content;
	border: 1px solid gray;
	border-radius: 4px;
	white-space: nowrap;
	padding-left:  var(--vertical-space);
	padding-right:  var(--vertical-space);
}

.scaled-input {
	font-size: 60px;
	direction: rtl;
	min-width: 100%;
	width: fit-content;
	background-color: lavender;
}


.main-input > * {
	transition: 200ms;
	cursor: pointer;
}

.main-input > :nth-child(1n+1){
	color: var(--c1);
}
.main-input > :nth-child(2n+2){
	color: var(--c2);
}

.main-input > :hover{
	color: var(--h);
	transition: 300ms;
	padding: 0 3px;
}

.main-input > :first-child:hover{
	padding-right: 0;
}
.main-input > :last-child:hover{
	padding-left: 0;
}

.isolated-letters {
	padding-left:  var(--vertical-space);
	padding-right:  var(--vertical-space);
	direction: rtl;
    display: flex;
	text-align: center;
	font-size: 20px;
}

.main-input-instruments{
	flex: 1 1 auto;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
}



.toggle-button {
	width: 40px;
	height: 40px;
	background-color: lightblue;
	font-size: 24px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;

}

.non-arabic-input {
	min-width: 100%;
	line-height: 24px;
	padding: 2px 6px;
}